/* General stuff */

@font-face {
    font-family: "BAHNSCHRIFT";
    font-style: normal;
    font-weight: bold;
    font-stretch: condensed;
    src: url("../fonts/BAHNSCHRIFT.TTF");
}

@font-face {
    font-family: "BAHNSCHRIFT Light";
    font-style: normal;
    font-weight: lighter;
    font-stretch: condensed;
    src: url("../fonts/BAHNSCHRIFT.TTF");
}

html {
    background-image: url("../images/bg1.jpg");
    background-size: cover;
    height: 100%;
    font-family: "BAHNSCHRIFT";
    user-select: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4vw;
    width: 100%;
    background-color: #202020;
    border-top: .1vw solid #a0a2a8;
}

#button-credits {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    font-size: 1.5vw;
    color: #ffffff;
    text-decoration: underline;
}

#button-credits:hover {
    color: #327fdd;
}

#logo-credits {
    width: 30vw;
}

#credits-dialog {
    background-image: url("../images/bg1-gray.png");
    background-size: cover;
    /* background-color: #a1a3a8; */
    border: .2vw solid #202020;
    font-size: 1.45vw;
    color: #FFFFFF;
    width: 70vw;
    height: 40vw;
    text-align: center;
    font-family: 'BAHNSCHRIFT Light';
}

.wavy {
    font-family: 'BAHNSCHRIFT';
    animation-name: wavy;
    animation-duration: 1.3s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    position: relative;
    top: 0;
    left: 0;
}

@keyframes wavy {
    0% {
        color: #e40606;
        top: 0vw;
    }

    50% {
        color: #a10404;
        top: -.4vw;
    }

    100% {
        color: #7c0707;
        top: 0vw;
    }
}

.memorabilia {
    font-family: 'BAHNSCHRIFT';
    color: #327fdd;
}

.nautilus {
    color: #f192a8;
}

.credits-icon {
    width: 1.2vw;
}

#credits-dialog::backdrop {
    background-color: rgba(15, 15, 15, 0.61);
}

#credits-dialog p {
    margin: 0;
}

#credits-dialog a {
    text-decoration: none;
    color: #fdca61;
}

#credits-dialog h2 {
    color: #e54545;
    margin-top: 1vw;
    margin-bottom: .7vw;
}

#credits-dialog h3 {
    color: #e54545;
    margin-bottom: .5vw;
}

#credits-dialog ul {
    text-align: center;
    padding-left: .3vw;
    list-style-type: none;
    margin: 0;
}

#credits-dialog ul li {
    margin: 0;
}

#container-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 40vw;
}

#container-game {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-score {
    text-align: center;
    color: #FFFFFF;
    background-color: #202020;
    box-shadow: 0 0 0 .1vw #202020, 0 .3vw 0 #202020;
    border-style: solid;
    border-color: #FFFFFF;
    border-width: 0.2vw;
    min-height: 3vw;
    font-size: 1.5vw;
}

#container-points {
    padding-top: .5vw;
    padding-bottom: .5vw;
    background-color: #a0a2a8;
    background-size: cover;
    border-bottom: 0.2vw solid #FFFFFF;
}

#score-player,
#score-IA {
    color: #327fdd;
}

#container-cards-left {
    padding-top: 0.3vw;
    padding-bottom: 0.1vw;
}

#result {
    font-size: 1.2vw;
    color: #dc4b6e;
}

#container-options {
    margin-top: 1vw;
}

#container-middle {
    width: 20vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

.menu-buttons {
    font-size: 1vw;
    width: 90%;
    margin: 0.8vw;
    padding: 0.4vw;
}

/* Card stuff */
.card-model {
    width: 20vw;
    min-height: 1em;
    z-index: -1;
    box-shadow: 2px solid black;
}

.card-info {
    z-index: 0;
}

.card-image {
    position: absolute;
    width: 18vw;
    z-index: -2;
    top: 1vw;
    left: 1vw;
}

.card-front,
.card-back,
.card-background {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.card-front {
    z-index: 0;
}

.card-front {
    transform: rotateY(180deg);
}

/* Info text Card stuff */

#card-1, #card-2 {
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s ease;
    height: 28vw;
    width: 20vw;
    box-shadow: 0vw 0.4vw 0.5vw #202020;
}

#artist {
    color: #FFFFFF;
    position: absolute;
    top: 1vw;
    left: 13vw;
    font-size: 1vw;
    text-decoration: none;
}

.icon-attribute {
    position: absolute;
    z-index: -1;
    width: 4.7vw;
}

#icon-1 {
    left: -.2vw;
    bottom: .2vw;
    width: 4.7vw;
}

#icon-2 {
    left: .2vw;
    bottom: .3vw;
    width: 4.9vw;
}

#icon-2-brain {
    left: 1.26vw;
    bottom: 3.3vw;
    width: 2.8vw;
    transition: 1s;
}

#icon-3 {
    left: .5vw;
    bottom: .3vw;
    width: 4.9vw;
}


#title {
    color: yellow;
    position: absolute;
    top: 14.5vw;
    left: 1.7vw;
    font-size: 1.9vw;
}

#subtitle {
    color: yellow;
    position: absolute;
    top: 16.9vw;
    left: 1.7vw;
    font-size: 0.9vw;
    font-style: italic;
}

#attribute-number-1,
#attribute-number-2,
#attribute-number-3 {
    color: yellow;
    display: block;
    margin-bottom: 0.8vw;
    font-size: 2.5vw;
    font-family: "Bahnschrift";
    font-weight: 600;
    font-stretch: ultra-condensed !important;
    color: #000000;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
        1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;

}

#attribute-number-1 {
    margin-left: 1.2vw;
    padding-top: 0.9vw;
}

#attribute-number-2 {
    margin-left: 1.70vw;
    margin-top: 0.9vw;
}

#attribute-number-3 {
    margin-left: 2vw;
    margin-top: 0.9vw;
}

#attribute-1,
#attribute-3 {
    display: block;
    margin-left: 1vw;
    color: yellow;
    font-size: 0.9vw;
}

#attribute-2 {
    display: block;
    margin-left: 0.4vw;
    color: yellow;
    font-size: 0.9vw;
}

#button-attribute-1,
#IA-button-attribute-1 {
    position: absolute;
    bottom: 2.6vw;
    left: 1.8vw;
    width: 5vw;
    height: 5vw;
    z-index: 2;
    cursor: pointer;
}

#button-attribute-2,
#IA-button-attribute-2 {
    position: absolute;
    bottom: 2.6vw;
    left: 7.5vw;
    width: 5vw;
    height: 5vw;
    z-index: 2;
    cursor: pointer;
}

#button-attribute-3,
#IA-button-attribute-3 {
    position: absolute;
    bottom: 2.6vw;
    left: 13.2vw;
    width: 5vw;
    height: 5vw;
    z-index: 2;
    cursor: pointer;
}

#IA-button-attribute-1,
#IA-button-attribute-2,
#IA-button-attribute-3 {
    cursor: default;
}